html,
body {
    scroll-behavior: smooth !important;
    margin: 0;
    padding: 0;
    background-color: #F3F6FA !important;
}


/* NAVBAR ATAS */
.navbar {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.navbar .brand {
  font-size: 1.5rem;
  font-weight: bolder;
}

.navLinks {
  list-style: none;
}

.navLinks li a { 
  color: var(--dark);
  text-decoration: none;
  padding: 1rem;
  display: block;
  font-weight: bold;
  font-size: .9rem;
}

.link {
  text-decoration: none;
  color: var(--dark);
  transition: transform .2s;
}

.link:hover {
  color: var(--dark);
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}

.navLinks li {
  transition: transform .2s;
}

.navLinks li:hover { 
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}

button {
  outline: none;
}


/* END NAVBAR ATAS */


/* HOME SECTION */

.home {
    text-align: center;
    height: fit-content;
    padding-top: 250px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 150px;
    position: relative;
}


/* END HOME SECTION */


/* BEDLIST SECTION */

.bedList {
    background-color: #0088a9;
}

.bed-select {
    background-color: #ffffff;
    border-radius: 15px;
    min-height: 400px;
    margin-bottom: 100px;
    padding: 50px;
}

/* .col-12 .txt-rumah-sakit {
    margin-bottom: 60px;
} */

.select-form {
    padding: 15px;
}

.label-select {
    font-size: 24px;
    font-style: bold;
}

.button {
    margin: 15px;
}


/* END BEDLIST SECTION */


/* DETAIL BEDLIST SECTION */

.detail-bed {
    background-color: white;
}

.card-color {
    border-color: #0072F4;
}


/* END DETAIL BEDLIST SECTION */


/* FORM */

.loginForm {
    height: 80vh;
}

.form-control.email,
.form-control.password {
    min-width: 300px;
}

.formContainer {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


/* END FORM */

/* TABLE */
.table{
    overflow-x: auto !important;
}
/* END TABLE */

/* YOUR POST SECTION */
.your-post{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    position: relative;
}

.table-review{
    background-color: #ffffff;
    border-radius: 15px;
    min-height: 400px;
    margin-bottom: 100px;
    padding: 50px;
}

.review{
    border: 5px solid #0072F4;
    border-radius: 15px;
    height: fit-content;

}
/* END YOUR POST SECTION */

/* CARD DATA  */
h5.card-title.data::first-letter{
    text-transform: capitalize;
}
/* END CARD DATA */

/* MANUAL RESPONSIVE */
@media only screen and (max-width: 600px) {
  .home {
    text-align: center;
    height: fit-content;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    position: relative;
  }
}
/* END MANUAL RESPONSIVE */